/* Fonts Import Start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Fonts Import End */

:root {
  /* Fonts */
  --ff-main:"Raleway", sans-serif;
  --ff-heading:"Inter", sans-serif;

  /* Color */
  --clr__bg-main: #F5F8FF;
  --clr__banner: rgba(78, 71, 255, 0.1)
  --clr-footer: #FFFFFF;
  --clr-btn: #4E47FF;
  --clr__text-primary: #252432;
  --clr__text-seconday: rgba(0, 0, 0, 0.5);
}